[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-allauth = "==0.19.1"
django-crispy-forms = "==1.4.0"
geopy = "==1.10.0"
oauthlib = "==0.7.2"
python-openid = "==2.2.5"
requests = "==2.6.0"
requests-oauthlib = "==0.4.2"
wsgiref = "==0.1.2"
Django = "==1.8"
cffi = "!=1.11.3"
click = "==4.0"
cryptography = "==2.8"
decorator = "==3.4.2"
django-leaflet = "==0.16.0"
enum34 = "==1.0.4"
geocoder = "==1.38.1"
ndg-httpsclient = "==0.3.3"
psycopg2 = "==2.6.1"
pyasn1 = "==0.1.7"
pycparser = "==2.10"
ratelim = "==0.1.6"
six = "==1.9.0"
python-decouple = "*"
pyopenssl = "*"

[requires]
python_version = "2.7"
