{% extends 'base.html' %}
{% load staticfiles %}
{% block head_title %} Hi! {% endblock %}

{% block head_style %}
<style>
	.jumbotron {
	  padding: 125px 50px;

	}
	.jumbotron, .jumbotron h1 {
	  text-align: center;
	  font-size: 50px;

	}
	.char{
		padding: 100px 50px;
	}
	img {
	  /*border: 1px solid #ddd;
	  border-radius: 4px;*/
	  width: 550px;
	}

	@media (max-width:767px) {
    img {
       width: 400px;
    }
</style>

{% endblock %}

{% block content %}
		<div class="jumbotron">
	        <h1 class="text-center">Crowd-GeoCoding</h1>
	       <div class="row">
	       	<div class="col-md-10 col-md-offset-1">
		        <p class="lead">On some occasions, the available addresses of offices, restaurants, theaters, etc. published online are incorrect or incomplete. Making it difficult to get there.
				</p>
		        <a class="btn btn-lg btn-success" href="/tasks/" role="button">Help correct them!</a>
		        <br>
		        <a class="btn btn-default btn-link" href="/accounts/signup/" role="button">Sign up to help someone!</a>
		      </div>
	        </div>
		</div>
      <div class="row char">
        <div class="col-md-6">
        	<h3>Crowd-GeoCoding...</h3>
        	<ul>
			  <li>Relies on the cognitive abilities and local knowledge of volunteers.</li>
			  <li>Enables distributed user online participation in geocoding validation tasks.</li>
			  <li>Facilitates open collaboration to analyze the geographic accuracy of different online geocoding services.</li>
			  <li>Helps participants identify and select the best service outcome or manually geocode a correct address on the map.</li>
			  <li>Allows downloading the database with the results of a task to evaluate the quality of geocoding services.</li>
			</ul>
        </div>
        <div class="col-md-5">
        	<img src="{% static 'img/task_example.png' %}">
        </div>
     </div>
{% endblock %}